
body {
    background-color: #101014;
    text-align: center;
    color: #fff;
    text-justify: center;
    font-family: 'VT323', monpspace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
a {
    text-decoration: none;
}

.games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.navigate-back {
    position: absolute;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    top: 30px;
    left: 30px;
}

.game {
    height: 200px;
    width: 300px;
}

.tetris, .breakout, .pong {
    display: flex;
    background-color: salmon;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.tetris-green-room_content {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 600px;
    margin-left: -300px;
    margin-top: -200px;
    font-size: 1.5rem;
}

#tetris-green-room__room-input {
    background: transparent;
    font-family: 'VT323', monpspace;
    font-size: 24px;
    text-align: center;
    width: 200px;
    color: #fff;
    height: 30px;
}