
body {
    background-color: #101014;
    color: #fff;
    font-family: 'VT323', monpspace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.index-title {
    padding-bottom: 10vh;
    margin-top: -10vh;
    font-size: 3rem;
    color: mediumvioletred
}

.games {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.navigate-back {
    position: absolute;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    top: 30px;
    left: 30px;
}

.game {
    height: 200px;
    width: 300px;
    margin: 0 10px;
    font-size: 1.6rem;
    font-family: 'VT323', monpspace;
    text-decoration: none;
}

.tetris, .breakout, .pong {
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}

