body {
    background-color: #101014;
    text-align: center;
    color: #fff;
    text-justify: center;
    font-family: 'VT323', monpspace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.navigate-back {
    position: absolute;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    top: 30px;
    left: 30px;
}

.title-wrapper {
   margin-top: 5vh;
}

.game-title {
    margin: 0;
    font-size: 3rem;
}

.game-sub-title {
    font-size: 1.5rem;
}

#is-paused {
    margin: 0;
    position: absolute;
    right: 150px;
    top: 100px;
    color: #aaa;
    font-size: 3rem;
}

.score {
    font-size: 2.5rem;
    color: #fff;
    height: 40px;
}

.player.local canvas {
    border: 4px solid rgb(255, 255, 255);
}

canvas {
    border: 2px solid #777;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.player {
    margin: 30px;
}

.tetris-green-room_content {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 600px;
    margin-left: -300px;
    margin-top: -200px;
    font-size: 1.5rem;
}

#tetris-green-room__room-input {
    background: transparent;
    font-family: 'VT323', monpspace;
    font-size: 24px;
    text-align: center;
    width: 200px;
    color: #fff;
    height: 30px;
}