* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'VT323', monospace;
    text-align: center;
    background: #101014;
}

h1 {
    margin: 10px;
    color: #eee;
    font-weight: 300;

}

canvas {
    background: #101014;
    display: block; 
    margin: 0 auto;
    height: 40vh;
    border: solid #eee 3px;
}